
/* GENERAL */
body {
    background : papayawhip;
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.1rem;
}

h1,h2,h3,h4,label {
    font-family: 'Oswald', sans-serif;
}

a {
    font-family: 'Sigmar One', cursive;
}

textarea {
    height: 85px !important;
}

small {
    font-size: 0.8rem;
    font-style: italic;
}

.error_custom {
    font-weight: bold;
}


/* EDIT */

/* Titres tableau  */
#tr_headings th {
    text-align: center;
} 

ul#answers_ul li {
    list-style-type: none;
    list-style-image: url(../images/bullet-list-icon-.png);
    list-style-position: inside;
    
}

.vrai {
    font-style: oblique;
    font-weight: bold;
    color : #2ECC71;
}

.faux {
    font-weight: bold;
    color : #E74C3C;
}


