
<h3 class="text-center text-info mt-5"> Ajouter un Quizz</h3>

<div class="row text-center">
    <div class="col-5">
        <p>Mes questions</p>
        <div class="jumbotron bg-dark text-light">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
    </div>
    <div class="col">
        <i class="far fa-hand-point-right display-4"></i>
    </div>
    <div class="col-5">
        <p>Liste</p>
        <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
    </div>
</div>