

<h3 class="text-info">Patience, aire de jeu à venir ...</h3>

<button class="btn btn-info btn-lg" id="launch_test">TEST</button>

<div class="result">

<h2 id="title"></h2>

<h3 id="question"></h3>

<form action="">
    <div class="from-group">
        <p id="answer1" class="form-control">Réponse 1</p>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="answer_checkbox1" name="customRadio" value="false" class="custom-control-input">
            <label class="custom-control-label" for="answer_checkbox1">Vrai</label>
        </div>
    </div>
    <p id="answer2"></p>
    <p id="answer3"></p>
</form>


</div>