
<form action="" class="mt-5">
    <div class="form-group">
        <label for="question" class="h4 text-info mb-3">Créer une question :</label>
        <textarea type="text" placeholder="entrer une question" id="question" class="form-control"></textarea>
    </div>
    <button class="btn btn-lg btn-primary" type="submit" id="submit_questions">Soumettre</button>
    <button class="btn btn-lg btn-danger ml-2" type="submit" id="clear_questions">Effacer local storage</button>
</form>

<form action="" class="mt-5">
    <div class="form-group">
        <label for="answer" class="h4 text-info mb-3">Créer une réponse :</label>
        <textarea type="text" placeholder="entrer une réponse" id="answer" class="form-control"></textarea>
    </div>
    <button class="btn btn-lg btn-primary" type="submit" id="submit_answers">Soumettre</button>
</form>